{% extends "mytemplate.html" %}
{% block bodycontent%}

<div class="Foodmin">
<h1>Foodmin</h1>
</div>

<div class="w3-row-padding w3-margin-top">

<div class="w3-third">
<div class="w3-card">
<img src="{{ url_for('static', filename='images/surya.png') }} style="width:100%">
<div class="w3-container">
<h4>5 Terre</h4>
</div>
</div>
</div>

<div class="w3-third">
<div class="w3-card">
<img src="{{ url_for('static', filename='images/surya.png') }} style="width:100%">
<div class="w3-container">
<h4>Monterosso</h4>
</div>
</div>
</div>

<div class="w3-third">
<div class="w3-card">
<img src="{{ url_for('static', filename='images/surya.png') }} style="width:100%">
<div class="w3-container">
<h4>Vernazza</h4>
</div>
</div>
</div>

</div>
<div class="w3-row-padding w3-margin-top">

<div class="w3-third">
<div class="w3-card">
<img src="{{ url_for('static', filename='images/surya.png') }} style="width:100%">
<div class="w3-container">
<h4>Manarola</h4>
</div>
</div>
</div>

<div class="w3-third">
<div class="w3-card">
<img src="{{ url_for('static', filename='images/surya.png') }} style="width:100%">
<div class="w3-container">
<h4>Corniglia</h4>
</div>
</div>
</div>

<div class="w3-third">
<div class="w3-card">
<img src="{{ url_for('static', filename='images/surya.png') }} style="width:100%">
<div class="w3-container">
<h4>Riomaggiore</h4>
</div>
</div>
</div>

</div>
















{% endblock %}
