{% extends "mytemplate.html" %}
{% block bodycontent%}

<style>

 h1 {
   text-align: center;
    }

 h1 {
  text-shadow: 2px 2px 5px white;
  color:white;
    }
.topnav {
  overflow: hidden;
  background-color: black;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
footer {
  background-color: black;
  padding: 20px;
  text-align: center;
  color: white;
}
</style>
<h1>Welcome to Online Food Court</h1>
<img src="{{ url_for('static', filename='images/indian.png') }}" >

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<footer>
Copyright @ 2022 Online Food Court
</footer>

{% endblock %}
